@font-face {
    font-family: "Avenir Book";
    src: url("Avenir-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aleo Bold";
    src: url("Aleo-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

html, body {
	display: flex;
	/*align-items: center;*/
	justify-content: center;
	width:  100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
    background-color: #1A2E33;
    user-select: none;
}

canvas {
    image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

header {
    padding-top: 1.1em;
    text-align: center;
    position: absolute;
    color: #FFAF3F;
    font-family: "Aleo Bold";
    /*font-weight: bold;*/
    font-size: 36px;
    display: flex;
    flex-direction: column;
}

img {
    /*height: 60px;*/
    padding-bottom: 10px;
}

header a:nth-child(2) {
    margin-left: 5px;
}

#countdown {
    /*color: white;*/
}

.announcement-div {
    /*padding-top: 2vh;*/
    width: 25vw;
    position: absolute;
    left: 2vw;
    color: white;
    font-family: "Aleo Bold";
    font-size: 36px;
}

.announcement > p {
    font-family: "Avenir Book";
    font-size: 20px;
}

.time {
    color: #FF3F46;
}

.schedule-div {
    /*padding-top: 2vh;*/
    position: absolute;
    right: 2vw;
    width: 25vw;
    color: white;
    font-family: "Aleo Bold";
    font-size: 36px;
}

.schedule {
    font-family: "Avenir Book";
    line-height: 14px;
    transition: ease-in .5s;
}

.schedule > p:first-child {
    font-size: 30px;
    color: #FFEF3F;
}

.schedule > p:nth-child(2) {
    font-size: 22px;
    /*color: #FF3F46;*/
}

.schedule > p:nth-child(3) {
    font-size: 18px;
    color: white;
    padding-bottom: 24px;
    color: white;
}

.schedule-add {
    opacity: 1;
}

.schedule-new {
    opacity: 0;
    -webkit-transform:translate(0,-20%); /* WebKit */
    -moz-transform:translate(0,-20%); /* Mozilla */
    -o-transform:translate(0,-20%); /* Opera */
    -ms-transform:translate(0,-20%); /* Internet Explorer */
    transform:translate(0,-20%);
}

.schedule-shift {
    -webkit-transform:translate(0,125%); /* WebKit */
    -moz-transform:translate(0,125%); /* Mozilla */
    -o-transform:translate(0,125%); /* Opera */
    -ms-transform:translate(0,125%); /* Internet Explorer */
    transform:translate(0,125%);
    transition: ease-in 1.5s;
}

.schedule-remove {
    -webkit-transform:translate(0,50%); /* WebKit */
    -moz-transform:translate(0,50%); /* Mozilla */
    -o-transform:translate(0,50%); /* Opera */
    -ms-transform:translate(0,50%); /* Internet Explorer */
    transform:translate(0,50%);
    opacity: 0;
}

.no-transition {
    transition: none;
}

footer {
    position: absolute;
    left: 1em;
    bottom: 1em;
    font-family: "Avenir Book";
    font-size: 16px;
    color: #E5D8CE;
}

@media only screen and (max-width: 1000px) {
    .announcement-div {
        display: none;
    }
    .schedule-div {
        display: none;
    }
    footer {
        display: none;
    }
}
